<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JSON Retriever.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5CA334581E0C197B001E09D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CA3346C1E0C197B001E09D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CA334771E0C197B001E09D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
